<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="content-grid">
      <div class="header">
        <div class="left-header">
          <a href="/">
            <button id=logout class="logout-btn">
              <i class='bx bx-log-out'></i>
            </button>
          </a>
        </div>
        <div class="right-header">
          <p style="color: white;">Need help? </p>
          <a href="/support" target="">
            <i class='bx bxs-help-circle'></i>
          </a>
        </div>
      </div>
      <h1>xyz</h1>
      <div class="profile-grid">
        <div class="pfp-grid">
          <img src="{{ url_for('static', filename='img/images.jpeg') }}" class="pfp">
        </div>
        <div class="user-info-grid">
          <div class="username">
            <p>{{ username }}</p>
          </div>
          <div class="score">
            <p>Score: </p>
          </div>
        </div>
      </div>
      <div class="button-grid">
        <a href="/home">
          <button class="home-btn">
            <i class='bx bx-home-alt'></i>
          </button>
        </a>
        <a href="/reels">
          <button class="reels-btn">
            <i class='bx bx-play'></i>
          </button>
        </a>
        <a href="/leaderboard">
          <button class="leaderboard-btn">
            <i class='bx bx-objects-vertical-bottom'></i>
          </button>
        </a>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  </body>
</html>